.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:2em;
  width:6em;
  height:6em;
  line-height:6em;
  text-align:center;
  border-radius:50%;
  background:lightgray;
  vertical-align:middle;
  margin-right:1em;
  margin-top: 1EM;
  color:black;
  }